APP_DOMAIN=final02.haivuthanh.site # Your domain/subdomain for Ingress and SSL
CERT_EMAIL=vuhaipro2707@gmail.com

S3_BUCKET_NAME=my-app-uploads # MUST BE GLOBALLY UNIQUE (e.g., add your-name-random-numbers)
AWS_REGION=ap-southeast-1

DOCKER_IMAGE=vuhaipro2707/final-app:v1.0.10 # Build and push your Docker image to Docker Hub or another registry, then update this value accordingly

GRAFANA_PASS=admin456